body{
  background-color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #242424;
  user-select: none;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center{
  margin: auto;
  position: relative;
  top: 25%;
  bottom: 66%;
}

img {
  max-width: 100%;
}

.bigButton {
  -webkit-box-shadow: inset 0px 5px 10px -1px #963030;
  box-shadow: inset 0px 5px 10px -1px #963030;
  color: #A86868;
  background-color: #f0f0f0;
}

.bigButton:active {
  -webkit-box-shadow: inset 0px 10px 20px -1px #632020;
  box-shadow: inset 0px 10px 20px -1px #632020;
  color: #963030;
  background-color: #d9d9d9;
}