.navbar{
	width: 100%;
	height: 10%;
	border: 1px solid green;
	text-align: center;
}

.userStats{
	width: 100%;
	height: 50%;
	border: 1px solid red;
	text-align: center;
}

.activeQuests{
	width: 100%;
	height: 20%;
	border: 1px solid black;
	text-align: center;
}

.availableQuests{
  width: 100%;
  height: 20%;
  border: 1px solid black;
  text-align: center;
}
