body{
  background-color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #242424;
  user-select: none;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center{
  margin: auto;
  position: relative;
  top: 25%;
  bottom: 66%;
}

img {
  max-width: 100%;
}



.bigButton:active {
  background-color: #c1c1c1;
}